[buildout]
extensions = mr.developer
extends = community.cfg
          schooltool.cfg
versions = versions
parts = scripts tags test test-schooltool test-community

[scripts]
recipe = zc.recipe.egg
unzip = true
eggs = schooltool.devtools
       schooltool
       schooltool.gradebook
       schooltool.intervention
       schooltool.lyceum.journal
       z3c.coverage
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = ${schooltool:packages}
       schooltool [test, apidoc]
defaults = ['--tests-pattern', '^f?tests$', '-v']

[test-schooltool]
recipe = z3c.recipe.compattest
include = ${schooltool:packages}
          schooltool [test, apidoc]
runner-defaults = ['--tests-pattern', '^f?tests$', '-v', '--auto-color']

[test-community]
recipe = z3c.recipe.compattest
include = ${community:packages}
runner-defaults = ['--tests-pattern', '^f?tests$', '-v', '--auto-color']

[tags]
recipe = z3c.recipe.tag:tags
eggs = ${schooltool:packages}
       schooltool [test, apidoc]

[sources]
mr.developer = git git://github.com/fschulze/mr.developer.git
